# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
log/
**/*.log

# IDEs
.idea/
.vscode/
*.iml
*.iws

# OS
.DS_Store
Thumbs.db

# Database
data/
*.db
*.mv.db
*.trace.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
